body{
    padding: 0;
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap
}

.test1{
    width: 275px;
    height: 275px;
    background-color: blue;
    display: inline-table;
}
.test2{
    width: 275px;
    height: 275px;
    background-color: red;
}
.test3{
    width: 275px;
    height: 275px;
    background-color: purple;
}